<!-- <p>contact-us works!</p> -->

<div style="display: flex; justify-content: space-around;">
    <h3>
        Get in touch!
   </h3>
   </div>

<div style="display: flex; justify-content: space-around;">
    <form action = "https://formsubmit.co/abongiletshopi@gmail.com"method="POST" >
          <p>
              <mat-form-field appearance="fill">
              <mat-label>name</mat-label>
              <input required ngModel matInput placeholder="User name" type="text" >
              </mat-form-field>    
              <small class="text danger" name is aria-required></small>
          </p>
          

          <p>
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>contacts</mat-label>
            <example-tel-input formControlName="tel" required></example-tel-input>
            <input matInput #input maxlength="10" placeholder="cell number">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            </mat-form-field>    
        </p>
           
          <p> 
              <mat-form-field appearance="fill">
                  <mat-label>email</mat-label>
                  <input matInput placeholder="Email" type="email" required>
                  </mat-form-field>
          </p> 
           
          <p>
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Message</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
              <!-- <mat-error align="end" *ngif="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  put valid email</mat-error>> -->
              <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </p>
          
          <input type="hidden" value= "getBrowserData();"> 
          
        <div style="display: flex; justify-content: space-around;">
            <button mat-raised-button color="accent" button type="submit" > Submit </button> 
            <button mat-raised-button color="accent" button type="reset"> Reset </button>
        </div>
    </form>   
</div>

