/* .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */

  h3{
    color: rgb(0, 0, 0);
  }

  p{
    color: rgb(0, 0, 0);
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }