<p>about-us works!</p>

<!-- <p>
    About says? 
    <a href= "https://www.accuweather.com/en/za/cape-town/306633/daily-weather-forecast/306633">Weather Today</a>
</p> -->

<h1>
    Our Visions
</h1>
<P>
    Nothing batter cakes was founded by Kay-Leigh. 
    While socializing and getting together with friends and family food was always present and nothing was sweeter than conversations and cakes. 
    This business came from that. Friends and love. 
    Nothing batter cakes always prepare their baked goods with love. It’s 100% homemade. 
    And always have others in mind. 
    Kay-Leigh wants to give everyone a piece of the joy and content that comes with conversations with friends and a plate of freshly baked goods.
</P>



<h1>
    Our Mission
</h1>

<p>
    sdfgsdrfygbswreybesrybsrdbyhdfyhdf
    rstyhndrftghndfcghndfhn
    dfthn
</p>

<!-- <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repudiandae voluptate ut vel excepturi saepe necessitatibus, numquam molestias sunt voluptas repellendus iusto ducimus id facilis velit praesentium explicabo deleniti laborum?
  Consequatur accusantium minima, itaque mollitia rem voluptates aliquam non in reprehenderit id repellat veniam deleniti nesciunt, exercitationem architecto a sequi culpa quod! Ex rem eius incidunt repudiandae ea illo magni!
  Voluptates, eum similique nobis tenetur, fuga delectus obcaecati quisquam dicta, accusamus repellendus odio quis sit. Eos tempora doloribus in impedit facilis eum molestias officia eius. 
  </p> -->