body {
    display: flexbox;
    margin: 0px;
    padding: 100px;
    font-family: Arial;
    background: #f9f3f3;
    background-image: url('/assets/images/cover.jpg') ;
    background-size: cover;
    
    background-blend-mode: darken;
    background-position:center center;
    width: 86.5%;
  }

  