

<div>
  <nav class="navbar">
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item " >
        <img src="assets/images/logo2.jpg"   >
        <h2>Welcome to  Kay-Leigh's Site</h2>
              
      </a>
      
    </div>
    
  </nav>
  
  

<!-- {{title}} -->


    <div class="menu-button-row">
      <button mat-raised-button color="accent"(click)="goto('home');" >Menu</button>
      <button mat-raised-button color="accent"(click)="goto('about');">About Us</button>
      <button mat-raised-button color="accent"(click)="goto('contact');">Contact Us</button>
      <button mat-raised-button color="accent"(click)="goto('gallery');">Gallery</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

</div>



<div *ngIf="location=='contacts'">
  <app-contact-us></app-contact-us>
</div> 

<div *ngIf="location=='about'">
  <app-about-us></app-about-us>
</div> 













<!-- <app-footer></app-footer> -->