@import '~angular/material/theming';
@use '~@angular/material' as mat;
@include mat.core();

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-warm:    mat-palette($mat-pink);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-warm);

@include angular-material-theme($my-theme);