

h3{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: rgb(0, 0, 0);  
    animation: animate is ease-in-out infinite alternate;
}

p{
    font-size: 20px;
    line-height: 30px;
    text-indent: 0px;
    text-align-last: center;
    text-transform: initial;
    color: rgb(0, 0, 0);
    animation: animate is ease-in-out infinite alternate;
}

@keyframes animate{
    from{
        text-shadow: 0 0 20px #289aab;
    }

    to{
    text-shadow: 0 0 30px #289aab, 0 0 10px #289aab,
    } 
}


.menu-button-row{
    /* background-color : rgb(255, 191, 191);  */
    /* padding: 20px; */
    display: flex;
    /* justify-content: space-evenly; */
}

.menu-button-row button{
    flex: 1;
    margin: 10px;
}

/* #grow_this_1{
    background-color:goldenrod;
    flex: 2;
}

#grow_this_2{
    background-color:goldenrod;
    flex: 2;
} */


/* .menu-button-row > button{
    flex: 1;
    margin: 10px;
    background-color:rgb(92, 117, 112);
} */

.basic{
    color:rgb(178, 223, 231);
}
.basic1{
    color:rgb(0, 0, 0);
}
.basic2{
    color:rgb(6, 70, 167);
}



    


  